<settings>
	<setting propertyKey="@Properties.token" title="@Strings.token">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.displayLabel" title="@Strings.displayLabel">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.displayValue" title="@Strings.displayValue">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.forceBacklight" title="@Strings.forceBacklight">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.size" title="@Strings.size">
		<settingConfig type="numeric" />
	</setting>

	<setting propertyKey="@Properties.usePosition" title="@Strings.usePosition">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.vibrate" title="@Strings.vibrate">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.debug" title="@Strings.debug">
		<settingConfig type="boolean" />
	</setting>

</settings>